[project]
name = "git-hooks"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = [
    "black",
    "isort",
    "mypy",
    "pylint",
    "pytest",
    "pytest-cov",
    "pytest-mock",
    "ruff",
]
