import baseConfig from "../../config/eslint.base.mts";
import { defineConfig } from "eslint/config";
import js from "@eslint/js";

export default defineConfig([
  baseConfig,
  {
    plugins: { js },
    extends: ["js/recommended"],
  },
]);
