name: Markdown
on:
  workflow_call:
    inputs:
      os:
        type: string
      submodules:
        type: boolean
jobs:
  markdown:
    runs-on: ${{ inputs.os }}
    env:
      CI_SCRIPT_PATH: ${{ inputs.submodules && './git-hooks/src/ci.sh' ||
        './src/ci.sh' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.submodules }}

      - name: Add npm local bin directory to GitHub Path (non-Windows)
        if: ${{ inputs.os != 'windows-latest' }}
        run: echo "$PWD/node_modules/.bin" >> $GITHUB_PATH
      - name: Add npm local bin directory to GitHub Path (Windows)
        if: ${{ inputs.os == 'windows-latest' }}
        run: >
          "$PWD/node_modules/.bin"
          | Out-File -FilePath $env:GITHUB_PATH -Append
      - name: Install markdownlint
        run: |
          npm install markdownlint-cli
          markdownlint --version

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Get Python version
        run: python --version

      - name: Install Bash (macOS)
        if: ${{ inputs.os == 'macos-latest' }}
        run: |
          brew update
          brew install bash
      - name: Get Bash version
        run: bash --version

      - name: Run markdownlint
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_markdown
