name: Bash
on:
  workflow_call:
    inputs:
      os:
        type: string
      submodules:
        type: boolean
jobs:
  bash:
    runs-on: ${{ inputs.os }}
    env:
      CI_SCRIPT_PATH: ${{ inputs.submodules && './git-hooks/src/ci.sh' ||
        './src/ci.sh' }}
    steps:
      - name: Set Git autocrlf (Windows)
        if: ${{ inputs.os == 'windows-latest' }}
        run: git config --global core.autocrlf input
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.submodules }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: false
      - name: Install shfmt
        run: |
          go install mvdan.cc/sh/v3/cmd/shfmt@latest
          shfmt --version

      - name: Install ShellCheck (macOS)
        if: ${{ inputs.os == 'macos-latest' }}
        run: |
          brew update
          brew install shellcheck
      - name: Install ShellCheck (Windows)
        if: ${{ inputs.os == 'windows-latest' }}
        run: choco install shellcheck
      - name: Get ShellCheck version
        run: shellcheck --version

      - name: Set up Node.js
        if: ${{ !inputs.submodules }}
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Get Node.js version
        if: ${{ !inputs.submodules }}
        run: node --version
      - name: Install Node.js dependencies
        if: ${{ !inputs.submodules }}
        run: |
          npm install
          npm ls

      - name: Add npm local bin directory to GitHub Path (non-Windows)
        if: ${{ inputs.os != 'windows-latest' }}
        run: echo "$PWD/node_modules/.bin" >> $GITHUB_PATH
      - name: Add npm local bin directory to GitHub Path (Windows)
        if: ${{ inputs.os == 'windows-latest' }}
        run: >
          "$PWD/node_modules/.bin"
          | Out-File -FilePath $env:GITHUB_PATH -Append
      - name: Install Bats
        run: |
          npm install bats
          bats --version

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Get Python version
        run: python --version
      - name: Set up Poetry
        if: ${{ !inputs.submodules }}
        run: |
          pipx install poetry
          poetry --version
      - name: Install Python dependencies
        if: ${{ !inputs.submodules }}
        run: |
          poetry sync
          poetry show

      - name: Install markdownlint-cli2
        if: ${{ !inputs.submodules }}
        run: |
          npm install markdownlint-cli2
          markdownlint-cli2 --version

      - name: Install Bash (macOS)
        if: ${{ inputs.os == 'macos-latest' }}
        run: |
          brew update
          brew install bash
      - name: Get Bash version
        run: bash --version

      - name: Run shfmt
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_bash_shfmt
      - name: Run ShellCheck
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_bash_shellcheck
      - name: Run Bats
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_bash_bats
