name: Python
on:
  workflow_call:
    inputs:
      os:
        type: string
      submodules:
        type: boolean
jobs:
  python:
    runs-on: ${{ inputs.os }}
    env:
      CI_SCRIPT_PATH: ${{ inputs.submodules && './git-hooks/src/ci.sh' ||
        './src/ci.sh' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.submodules }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml'
      - name: Get Python version
        run: python --version
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: ${{ inputs.submodules && true || false }}
      - name: Get uv version
        run: uv self version
      - name: Install Python dependencies
        run: |
          uv sync
          uv tree

      - name: Install Bash (macOS)
        if: ${{ inputs.os == 'macos-latest' }}
        run: |
          brew update
          brew install bash
      - name: Get Bash version
        run: bash --version

      - name: Run Black
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_python_black
      - name: Run Pylint
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_python_pylint
      - name: Run mypy
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_python_mypy
      - name: Run isort
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_python_isort
      - name: Run unittest
        shell: bash
        run: |
          source "$CI_SCRIPT_PATH"
          run_ci_python_test_unittest
